.App {
  text-align: center;
}
.App ul {
  position: relative;
  list-style-type: none;
  width: 30%;
  left: 30%;
}

.App li {
  padding: 1rem;
  margin: 1rem;
  font-size: large;
  font-weight: 700;
  border: 2px solid #666668;
  border-radius: 2px;
}

.App li:hover {
  color: #ffffff;

  background: linear-gradient(145deg, #61dafb, #4c4f55);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .App ul {
    position: relative;
    list-style-type: none;
    width: 90%;
    left: 0%;
  }
}

@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .App ul {
    position: relative;
    list-style-type: none;
    width: 60%;
    left: 10%;
  }
}
@media (max-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), 
  landscape 800x480 phones (Android) */
  .App ul {
    position: relative;
    list-style-type: none;
    width: 60%;
    left: 10%;
  }
}
